* {
  cursor: default;
}

.titles:hover {
  background-color: grey;

  color: rgb(60, 60, 60);
}

.fill {
  /* check if flex works on safari likely same issue with icons */
  display: flex;
  transition: transform 0.2s;
  overflow: hidden;
  object-fit: cover;
}

.fill img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

.fill:hover {
  transform: scale(1.2);
  z-index: -1;
}

.redButton:hover {
  background-color: rgb(215, 56, 52);
}

.yellowButton:hover {
  background-color: rgb(215, 149, 28);
}

.greenButton:hover {
  background-color: rgb(0, 162, 38);
}

a:link {
  color: rgb(190, 190, 190);
}

a:visited {
  color: rgb(190, 190, 190);
  text-decoration: none;
}

a:hover {
  color: rgb(190, 190, 190);
  text-decoration: none;
}

a:active {
  color: rgb(190, 190, 190);
  text-decoration: underline;
}

.form__group {
  position: relative;
  padding: 15px 0 0 50px;
  margin-top: 10px;
  width: 90%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: #fff;
  padding: 5px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 12px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 12px;
  color: #9b9b9b;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image-slice: 1;
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 10px;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
