.desktop {
  font-family: "Cardo", serif;
  display: flex;
  flex-direction: column;
}

.resume-button {
  font-family: "Oswald", sans-serif;
}

.desktop h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
