.login {
  display: flex;
  justify-content: center;
  align-items: center;

  .login-container-content {
    .user {
      .image-icon {
        border-radius: 50%;
        height: 100px;
        width: 100px;
      }
    }
  }
}
